- if listings.empty?
  %h1.sorry No results found
- else
  %table#listings-browser
    %thead
      %tr
        %td.starred
        %td.image Image
        %td.description_and_details Details
        %td.created_at Posted
        %td.price Price
    %tbody
      - listings.each do |listing|
        - if listing.expired?
          = render 'listings/expired_row', :listing => listing
        - else
          = render 'listings/row', :listing => listing
  = paginate listings