- if listings.empty?
  %div No listings found
- else
  %table#listings-browser
    %thead.container
      %tr.row
        / %td.starred.onecol Star
        / %td.image.onecol Images?
        %td.description_and_details.fivecol Name
        %td.price.twocol.last Price
        %td.created_at.threecol Images
    %tbody.container
      - listings.each do |listing|
        = render 'listings/row_compact', :listing => listing
  = paginate listings
