- if listings.empty?
  %h1.sorry No results found
- else
  %table#listings-browser
    %thead.container
      %tr.row
        %td.starred.onecol Star
        %td.image.twocol Image
        %td.description_and_details.fivecol Details
        %td.created_at.twocol Posted
        %td.price.twocol.last Price
    %tbody.container
      - listings.each do |listing|
        = render 'listings/row', :listing => listing
  = paginate listings