- if session[:starred] and session[:starred].include?(listing.permalink)
  = link_to 'Unstar this listing', starred_path(:permalink => listing.permalink), :method => :put, :class => 'unstar', :remote => true
- else
  = link_to 'Star this listing', starred_path(:permalink => listing.permalink), :method => :post, :class => 'star', :remote => true