- star_classes   = 'star available'
- unstar_classes = 'unstar'
- if session[:starred] and session[:starred].include?(listing.permalink)
  - star_classes   = 'star'
  - unstar_classes = 'unstar available'
= link_to 'Star this listing',   star_listing_path(listing),   :remote => true, :class => star_classes
= link_to 'Unstar this listing', unstar_listing_path(listing), :remote => true, :class => unstar_classes