<% content_for :sidebar do %>
  <%= render 'search' %>
<% end %>

<% @listings.each do |listing| %>
  <%= render 'listing', :listing => listing %>
<% end %>

<%= paginate @listings %>

<% if can? :create, Listing %>
  <p><%= link_to "New Listing", new_listing_path %></p>
<% end %>