%p Hi #{@listing.seller.name},
%p Your listing #{link_to @listing.description, listing_url(@listing)} is now renewable.
%p You have until the end of the day before the listing is no longer publicly available, but you can renew any time in the next week by #{link_to 'clicking this link', renew_listing_url(@listing)} (<b>Note</b>: You may need to login first). After one week the listing will expire and will no longer be public or renewable.
%p For more information about expiration and renewal, please take a look at the #{link_to 'About Marketplace', about_page_url} page.
%p Thanks,<br />Marketplace Team