Hi #{@listing.seller.name},

Your listing #{@listing.description} is now renewable.

You have until the end of the day before the listing is no longer publicly available, but you can renew any time in the next week by visiting #{renew_listing_url(@listing)} (Note: You may need to login first). After one week the listing will expire and will no longer be public or renewable.

For more information about expiration and renewal, please take a look at the About Marketplace page.

Thanks,
Marketplace Team