<p>Hi #{@listing.seller.name},</p>
<p>Your listing <b>#{@listing.description}</b> will expire tomorrow. If you would like to renew the listing, please visit <a href="#{renew_listing_url(@listing)}" title="Renew Listing">#{renew_listing_url(@listing)}</a>.</p>