- title 'Manage Pending Confirmations'
- content_for :top do
  %h2 Manage Pending Confirmations

.container-fluid.row
  %h2 Manage Pending Confirmations
  .row
    - if @users.empty?
      %h4 No pending confirmations
    - else
      %table.table-hover
        %thead.container
          %tr.row
            %td.name.threecol Name
            %td.email.sixcol Email
            %td.created_at.threecol.last Created
        %tbody.container
          - @users.each do |user|
            = render 'confirmation', :user => user
      = paginate @users