- title 'Manage Pending Confirmations'
.container-fluid.row
  %h2 Manage Pending Confirmations
  .row
    - if @users.empty?
      %h4 No pending confirmations
    - else
      %table.table
        %thead
          %tr
            %th.name Name
            %th.email Email
            %th.created_at Created
            %th Actions
        %tbody
          - @users.each do |user|
            = render 'confirmation', :user => user
      = paginate @users
  =link_to "Back to Admin Console", admin_index_path, class: "btn btn-link"