- title 'Manage Current Users'
- content_for :top do
  %h2 Manage Current Users

%table#users-browser
  %thead.container
    %tr.row
      %td.name.threecol Name
      %td.email.sixcol Email
      %td.created_at.threecol.last Created
  %tbody.container
    - @users.reverse.each do |user|
      = render 'user', :user => user