- title 'Manage Current Users'
- content_for :top do
  %h2 Manage Current Users

.container-fluid.row
  %h2 Manage Current Users
  .row
    %table.table
      %thead
        %tr
          %th Name
          %th Email
          %th Created
          %th Action
      %tbody
        - @users.each do |user|
          = render 'user', :user => user
    = paginate @users