:ruby
  def c state
    return 'selected' if state
    return ''
  end

- content_for :sidebar do
  - if can? :manage, user
    %ul.actions
      %li.profile{:class => c(controller_name == 'users'    && action_name == 'show')}= link_to 'View your profile', user
      %li.edit{:class    => c(controller_name == 'users'    && action_name == 'edit')}= link_to 'Edit your account', edit_user_path(user)
      %li.create{:class  => c(controller_name == 'listings' && action_name == 'new')}= link_to 'Place a listing', new_listing_path