%table#users-browser
  %thead.container
    %tr.row
      %td.name.twocol Name
      %td.email.sevencol Email
      %td.created_at.threecol.last Created
  %tbody.container
    - @users.each do |user|
      = render 'users/row', :user => user