%table#users-browser
  %thead.container
    %tr.row
      %td.name.threecol Name
      %td.email.sixcol Email
      %td.created_at.threecol.last Created
  %tbody.container
    - @users.reverse.each do |user|
      = render 'users/row', :user => user