- title @user.name
- content_for :top do
  - if can? :manage, @user
    %h1 Your Dashboard
  - else
    %h1 #{@user.name}&#8217;s Listings
= render 'sidebar', :user => @user
- if can? :manage, @user
  %p.sorry You have no listings posted
  %p= link_to 'Place your first listing', new_listing_path
- else
  = render 'listings/browser', :listings => @listings