- if target.errors.any?
  %article.form-errors
    %header
      %h1 Can&#8217;t save <%= target.class.to_s.downcase %>: <%= pluralize target.errors.count, 'error' %>
    %ul.errors
      - target.errors.full_messages.each do |message|
        %li.error.message= messsage