<% if target.errors.any? %>
  <article class="form-errors">
    <header>
      <h1>Can&#8217;t save <%= target.class.to_s.downcase %>: <%= pluralize target.errors.count, 'error' %></h1>
    </header>
    <ul class="errors">
      <% target.errors.full_messages.each do |message| %>
        <li class="error message"><%= message %></li>
      <% end %>
    </ul>
  </article>
<% end %>