:ruby
  page_links = [
    ['Welcome Message', '/welcome'],
    ['Safety & Security', '/safety'],
    ['Terms of Serivice', '/terms'],
    ['Privacy Policy', '/privacy'],
    ['Atom Feeds', '/feeds']
  ]

%ul.pages
  - page_links.each do |link|
    - if link[1].gsub('/','') == params[:id] or ( link[1] == '/feeds' and controller_name == 'categories')
      %li.selected.page= link_to link[0], link[1]
    - else
      %li.page= link_to link[0], link[1]