- title 'About the Developers'
%article
  %h1 About the Developers
  %p
    Your email address may be given to University authorities in cases where theft, harassment, or illegal activity is suspected.