- title 'About'
%article
  %h1 About Marketplace
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam nisi nec mauris lacinia ac semper enim pellentesque. Mauris id arcu purus. Curabitur accumsan felis in leo gravida venenatis commodo tellus ultricies. Maecenas feugiat, nisi pretium adipiscing fringilla, turpis lectus ultrices libero, ac posuere mi leo at nisi. Ut eros diam, volutpat eget congue quis, tincidunt id velit. Aenean odio tellus, placerat a mattis nec, imperdiet in erat. Sed venenatis scelerisque elit nec convallis.