- title 'Seller Guide & FAQs'
- content_for :top do
  %h2 Seller Guide &amp; FAQs
%article
  %p We&#8217;re in the process of creating a guide for sellers and compiling a list of frequently asked questions. Check back soon for more information, and <a href="mailto:marketplace@lists.uchicago.edu" alt="UChicago Marketplace">email the moderators</a> if you have any suggestions.