- title 'Privacy Policy'
%h1 Privacy Policy

%p
  Your login email and password will never be given away in reasonable circumstances. Server logs have all password information redacted. Although your official UChicago email is required to sign up, it is not recommended that you use your cnet password. Your CNet ID may be given to University authorities in cases where theft, harassment or illegal activity is suspected.
