- title 'Privacy Policy'
- content_for :top do
  %h2 Privacy Policy
%article
  %p
    Your email address may be given to University authorities in cases where theft, harassment, or illegal activity is suspected.