- title 'Privacy Policy'
- content_for :top do
  %h2 Privacy Policy
%article
  %p A seller&#8217;s email address and identification may be given to University authorities in cases where theft, harassment, or illegal activity is suspected. We also use a cookie to collect traffic data with Google Analytics, but we do not track or collect personally identifiable information, nor do we associate any data gathered with any personally identifying information.