- title 'Safety & Security'
- content_for :top do
  %h2 Safety &amp; Security
%article
  %p You should take the same precautions as you would using services like Craigslist or eBay. Here we have a non-exhaustive list of recommendations:
  %ul
    %li Deal locally, even with other students, and never have an item shipped.
    %li Inspect items before purchase, particularly electronics.
    %li Deal in cash, and never use or accept wire transfers, checks, or money orders.
    %li Meet with the buyer or seller in a public place, during the day if possible. Make sure others know where you will be.
    %li Attempt to ensure the legitimacy of the item you are purchasing. Ask the seller about the item&#8217;s history.