- title 'Safety & Security'

%h1 Safety and Security

%h2 Common Sense Tips
%p There is no better advice to give than simply using common sense, remember that you should take the same precautions using this site as you would using a service like Craigslist. Some very simple rules can help save you from suspicious circumstances:
%ul
  %li Always deal locally, even with other students. Never have an item shipped.
  %li Always inspect items before purchase, in particular electronics.
  %li Always deal in cash, never use/accept wire transfers, checks or money orders.
  %li Always meet with the buyer/seller in a public place, during the day, if at all possible. And make sure people know where you are!
  %li Always use common sense when considering the price of an item. If the price is far lower or far higher than it should be, it should raise a red flag
  %li Always try to ensure the history of the item you are purchasing, find out if your seller is the first owner or find out where it came from
  