- title 'Terms of Service'
%article
  %h1 Terms of Service
  %p
    The Marketplace is provided by the University of Chicago Student Government to members of the University of Chicago and Hyde Park community. Listings may only be posted by community members with a valid University email address. The moderators also reseve the right to modify or remove inappropriate listings. If your listings are repeatedly removed you may be banned from the site.