- title 'Terms of Service'
%h1 Terms of Service
%p
  This service is provided by for students of the University of Chicago. If you are not a member of the University community, please do not post listings here. At this time listings may only be posted by those with a valid University email address. At a later time, other members of the community may be eligible to use the Marketplace when granted access by moderators.
%p
  Your listing is here to help you sell or find a product or service; if your listing is not in line with those expectations or the expectations of the University community, it will be removed.
%p
  Be advised, site moderators have total control; if your listings are being repeatedly removed you may be banned from the site.



