- title 'Welcome'
%section#changes
  %h1 Major Changes
  %article
    %h2 Accounts
    %h3 Buyers
    %h3 Sellers
    %h2 &#8220;Signed&#8221; Sellers
    %h3 UChicago
    %h3 Community
  %article
    %h2 Help and Feedback
    %h3 UserVoice
    %h3 Email Support
  %article
    %h2 Listings
    %h3 Simple Search
    %h3 Advanced Search
    %h3 Image Uploads
    %h3 Expiration and Renewal
    %h3 Starring