@import 'compass/reset';
@import 'shared';

.top, .middle, .bottom, .sidebar, .main, .left, .center, .right {
  margin: 0;
  display: inline-block;
}

.sidebar, .left, .center { float: left; }

.top, .middle, .bottom {
  clear: both;
  display: block;
  text-align: left;
  margin: 0 auto 0 auto;
}

.clear {
  clear : both;
  overflow : hidden;
  width : 100%;
}

.serif { font-family: Georgia, 'Times New Roman', Times, serif; }

.sans-serif, body { font-family: Helvetica, Arial, 'Lucida Sans', Verdana, sans-serif; }

i, em { font-style: italic; }

b, strong { font-weight: bold; }

nav ul, footer ul { list-style-type : none; }

a {
  color: $blue;
  text-decoration: none;

  &:visited { color: $purple; }
  &:hover { color: $green; }
  &:active { color: $red; }
  &:hover, &:active { text-decoration: underline; }
}

html {
  font-size: 12px;
  line-height: 18px;
}


body {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: normal;
  padding: 0 1em 0 1em;

  // Elements that need to be page-width
  > header > .wrapper, #flashes, #content > .top, #content > .middle, #content > .bottom, footer {
    min-width: $min-page-width;
    max-width: $max-page-width;
    margin: 0 auto 0 auto;
  }

  // Large page sections
  > header, > #flashes, > #content, > footer { clear: both; }

  > header {
    > h1 {
      @include bello;
      @include text-shadow(rgba(#000, 0.1) 0 0 0.15em);
      font-size: $header-height;
      line-height: 1.75em;
      letter-spacing: -0.05em;
      color: black;
      font-weight: bold;
      text-align: center;

      a {
        color: black !important;
        @include transition-preset-link;
        text-decoration: none !important;
        &:hover { color: $green !important; }
      }
    }
  }

  > #flashes {}

  > #content {}

  > footer {
    ul {
      font-size: 0.8em;
      list-style-type: none;
    }

    .left, .center, .right {
      padding-top: 0.5em;
      margin-top: 1em;
      border-top: 1px solid #ddd;
      width: 25%;
    }
  }
}
