// Colors
$lorange   : #eebd9c;
$orange    : #c76725;
$green     : #597d3b;
$lgreen    : #c9eeab;
$navy      : #172930;
$plum      : #6e2145;
$lrust     : #eba9a1;
$rust      : #a33b2e;
$gold      : #ffefc3;
$yellow    : #fff9c3;
$cardboard : #a49d96;
$beige     : #d0c2b3;
$sand      : #eeeae5;
$gutter    : 1.25%;


// Dimensions
$default-size : 12px;
$baseline     : 18px;
$page-width   : 960px;
$header-height: 126px;


// Mixins
@mixin transition($property:color, $duration:0.3s, $type:ease) {
  -webkit-transition: $property $duration $type;
  -moz-transition: $property $duration $type;
  -o-transition: $property $duration $type;
}

@mixin transition2($property1:color, $duration1:0.3s, $type1:ease, $property2:background-color, $duration2:0.3s, $type2:ease) {
  -webkit-transition: $property1 $duration1 $type1, $property2 $duration2 $type2;
  -moz-transition: $property1 $duration1 $type1, $property2 $duration2 $type2;
  -o-transition: $property1 $duration1 $type1, $property2 $duration2 $type2;
}

@mixin highlight($color:#fff, $radius:1px, $x-offset:0, $y-offset:1px) {
  text-shadow: $x-offset $y-offset $radius $color;
}

@mixin text-highlight($properties:none) {
  text-shadow: $properties;
}

@mixin shadow($properties:none) {
  box-shadow: $properties;
  -webkit-box-shadow: $properties;
  -moz-box-shadow: $properties;
}


// Helpers
.clear {
  clear : both;
  overflow : hidden;
  width : 100%;
}

code, .code {
  font-size: 0.8em;
  line-height: 1.2em;
  font-family: "Monaco", monospace; // Debugging
}

.adelle {
  font-family: "adelle-1", "adelle-2"; // Debugging
}

.serif {
  font-family: Georgia, Times, serif; // Debugging
}

.sans-serif {
  font-family: Helvetica, Verdana, sans-serif; // Debugging
}


// Links
nav a {
  @include transition(color, 0.2s);
}

a {
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}


// Headings
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}


// Lists
ul {}

ol {}

li {}

dl {}

dt {}

dd {}


// Typography
p {}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

address {}

blockquote {}

del {}

sup, sub {}

q, cite {}

code {}

samp {}

var {}

abbr {}

dfn {}


// Tables
table {}

caption {}

col {}

col.alt {}

thead {}

tbody {}

tfoot {}

tr {}

td {}


// Forms
form {}

fieldset {}

legend {}

input.text {}

input.password {}

input.checkbox {}

input.radio {}

input.file {}

input.button {}

input.reset {}

input.submit {}

textarea {}

select {}

optgroup {}

option {}


*, html, body, img {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 12px;
  line-height: 18px;
}

p {
  padding-bottom : 1em;

  :last-child, :only-child {
    padding-bottom : 0;
  }
}

nav, section, aside, article, figure, header, footer, hgroup {
  display : block;
}

nav ul, footer ul {
  list-style-type : none;
}




body {
  color: #555;
  font-size: 1em; // 12px/12px
  line-height: 1.5em; // 18px/12px
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto 0 auto;
  text-align: center;

  .top, .middle, .bottom, .sidebar, .main, .left, .center, .right {
    margin: 0;
    display: inline-block;
  }

  .sidebar, .left, .center {
    float: left;
  }

  .top, .middle, .bottom {
    clear: both;
    display: block;
    text-align: left;
    max-width: $page-width;
    margin: 0 auto 0 auto;
  }

  // Debugging
  .sidebar { background-color: #ccc; width: 30%; }
  .main    { background-color: #eee; width: 70%; }
  .left    { background-color: #aaa; width: 50%; }
  .center  { background-color: #ccc; width: 0; }
  .right   { background-color: #bbb; width: 50%; }
  .top     { background-color: #aaa; }
  .middle  { background-color: #bbb; }
  .bottom  { background-color: #ccc; }

  > header, > #flashes, > #content > footer {
    clear: both;
  }

  > header {
    > .wrapper {
      display: block;
      max-width: $page-width;
      margin: 0 auto 0 auto;
      text-align: center;

      > h1 {
        font-family: "bello-pro-1","bello-pro-2";
        font-size: 2.75em;
        line-height: 1.75em;

        a {
          @include highlight(#ddd, 4px, 0, 0);
          @include transition(color, 0.3s);
          color: black;
          text-decoration: none !important;

          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  > #flashes {}

  > #content {
    text-align: center;
    margin: 0 auto 0 auto;
  }

  > footer {
    max-width: $page-width;
    margin: 0 auto 0 auto;

    ul {
      font-size: 0.8em;
      list-style-type: none;
      margin-bottom: 1.25em;
    }

    .left, .center, .right {
      padding: 0;
      float: left;
      width: 33%;
      text-align: left;
      background-color: transparent;
    }

    .right  { width: 34%; float: right; }
  }
}