@import 'shared';

input.undisturbed { color: #888; }

.form-errors {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: $lorange;
  .reason { font-weight: bold; }
}

.field_with_errors {
  display: inline-block;
  background-color: $red;
  padding: 5px;
}

.processed-markdown {
  background-color: #EEE;
  padding: 1em;
  width: 80%;
}

.disabled-button {
    color: #ACA899;
    background-color: #EFEFEF;
    border: solid 1px #c0c0c0;
}

.wait-text {
  font-size: 0.75em;
  color: #ACA899;
}

#listings.new .field .label,
#listings.edit .field .label {
  font-weight: bold;
}
