@import 'shared';

.form-errors {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: $lorange;
  .reason { font-weight: bold; }
}

.field_with_errors {
  display: inline-block;
  background-color: $red;
  padding: 5px;
}