@import 'shared';


#listings {
  &.show {
    header .starred a {
      background: image-url('star_small.png') left top no-repeat;
      padding-left: 20px;
      &:hover, &.unstar  { background-position: 0 -16px; }
      &:active, &:hover.unstar { background-position: 0 -32px; }
    }

    .images { width: 200px; }

    .bx-wrapper { margin: 0 auto; }

    .slider {
      text-align: center;
      margin: 0 auto;
    }

    .price { font-size: 1.25em; padding-bottom: 0.2em; }

    #metadata {
      margin: 0 auto;
      text-align: right;
    }

    .actions + #metadata {
      @include layout-right;
      width: 70%;
    }

    article > footer {
      margin-top: 0.5em;
      padding-top: 0.5em;
      border-top: 1px solid #ddd;

      .actions {
        @include layout-left;
        width: 30%;
      }

      @media all and (max-width: 767px) {
        #metadata, .actions {
          width: 100%;
          text-align: center;
        }
      }
    }
  }


  &.search {
    #sidebar { background-color: #f6f6f6; }
    #listing_search { padding: 0; }
    #listing_search fieldset { padding: 0.3em 1em }
    .field { display: block; }

    #search_categories {
      margin-bottom: 0.5em;

      .label, .input {
        display: block;
        clear: both;
      }

      select { width: 100%; }
    }

    #search_keywords_seller_and_price {
      input { width: 99%; margin: 0; padding: 0; }
      input.currency { width: 5em; }
    }

    #search_options {
      margin: 0.5em 0;
      .subfield { clear: both; }
    }

    #listing_search .actions {
      li { float: right; }
      .submit { margin: 0 0.5em 0.5em; }
    }
  }
}