@import 'shared';


#sg-header {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  background-color: $lorange !important;
  display: block !important;
  margin-bottom: 0.5em !important;
}

#sg-header-inner {
  width: 100% !important;
  max-width: 1140px !important;

  ul {
    background-color: transparent !important;
    margin-bottom: 0.25em !important;
  }
}