%p Welcome #{@resource.name},
%p You can confirm your new account by #{link_to 'clicking this link', confirmation_url(@resource, :confirmation_token => @token)}.
%p Before you start using the site, you may first want to #{link_to 'learn more about the Marketplace', about_page_url} or explore our #{link_to 'Safety & Security page', safety_page_url}.
%p Thanks,<br />Marketplace Team