%p Hi #{@resource.name},
%p Your account has been locked due to an excessive amount of unsuccessful sign in attempts. You can #{link_to 'click this link', unlock_url(@resource, :unlock_token => @resource.unlock_token)} to unlock your account.
%p Thanks,<br />Marketplace Team