:ruby
  links = [
    ['About Marketplace', about_page_path],
    ['Safety & Security', safety_page_path],
    ['Terms of Service', terms_page_path],
    ['Privacy Policy', privacy_page_path],
    ['Atom Feeds', feeds_path]
  ]

%footer.row
  #copyright.fivecol &#169; 2012 The University of Chicago. All rights reserved.
  %ul#links.sevencol.last
    - links.each do |link|
      %li= link_to link[0], link[1]