- STATIC_PAGE_LINKS.each do |link|
  - if link[1].gsub('/','') == params[:id]
    %li.active= link_to link[0], ('/' + link[1])
  - else
    %li= link_to link[0], ('/' + link[1])
- OTHER_LINKS.each do |link|
  - if link[1] == 'feeds' and controller_name == 'categories'
    %li.active= link_to link[0], ('/' + link[1])
  - else
    %li= link_to link[0], ('/' + link[1])